<div class="container">   
    <%= image_tag @photograph.image.url, class: "photoshow" %>
    <div class="footer container">
        <footer>
            <h3><%= link_to @hike.location, hike_path(@photograph.hike) %></h3>
        </footer>
        <% if current_user %>
                <td><%= link_to 'Delete', photograph_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>        
   </div> 
</div> 