// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#l1 {
    padding: 2px;
}
 #l2 {
     padding: 2px;
 }

 #login {
     margin-left: 3%; 
 }
 
 #ls {
  margin-left: 4%;
  padding: 5px;
}