// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sinform {
   text-align: -webkit-center;
   margin: 25%;
}

#f2 {
    margin: 0 -.30% 0 0;
    padding: 2px;
}

#f3 {
    margin: 0 1% 0 0;
    padding: 2px;
}

#f4 {
    margin: 0 2% 0 0;
    padding: 2px;
}

#f5 {
    margin: 0 9% 0 0;
}


#sign_up {
  margin: 10% -3% 0 0;
  padding: 3px;
}

#f_submit {
  margin: 0 -3% 0 0;
  padding: 10px;
}