// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sinform {
   text-align: -webkit-center;
   margin: 5%;
}

#f2 {
    padding: 2px;
}

#f3 {
    padding: 2px;
}

#f4 {
    padding: 2px;
}




#sign_up {
  padding: 3px;
}

#f_submit {
  padding: 10px;
}